/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p {
    font-family: "Baloo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

#info::before {
    content: '';
    /* Obligatorio para pseudo-elementos */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/fondo2.png');
    /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.070;
    /* Ajusta la opacidad */
    z-index: -1;
    /* Envía el fondo detrás del contenido */
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.botones {
    background-color: pink;
    border: solid 1px;
}